<html>

<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  
  <script>
  
    angular.module('app', []);

    angular.module('app').controller('MainController', function($scope){
  
    $scope.newTodo = {body: 'Default', isCompleted: true};
  
    $scope.todos = [];
  
    $scope.addTodo = function(Todo)
    {
        if($scope.todos.some(x=>x.body == Todo.body)) {
            alert("Todo že obstaja.");
            return;
        }
        $scope.todos.push(Todo);
        $scope.newTodo = {body: '', isCompleted: true};
    };
    
    $scope.removeTodo = function(key) {
        $scope.todos.splice(key, 1);
    };
    
    });
  
  </script>
</head>

<body ng-app="app">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 well" ng-controller="MainController">
        <h1>Frello</h1>
         <textarea rows="3" cols="50"  ng-model="newTodo.body"></textarea>
 
          <button class="btn btn-primary" ng-click="addTodo(newTodo)" ng-disabled="!newTodo.body">Dodaj</button>
      
          <div ng-repeat="(key, todo) in todos"> 
            <label><input type="checkbox" ng-model="todo.isCompleted" />Končan</label>&nbsp;&nbsp;&nbsp;
              <label><input type="checkbox" ng-model="hide" />Skrij</label>
            <h3 ng-hide="hide || !todo.isCompleted">{{ todo.body }}</h3>
            <input type="text" ng-hide="todo.isCompleted" ng-model="todo.body">
            <!--input type="button" value="Izbriši" ng-click="removeTodo(key)"-->
              <a ng-click="removeTodo(key)">Izbriši</a>
           </div>
        </div>
    </div>
  </div>
</body>
</html>
